
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status, :value => 'Not active', :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :placeholder => '151000000000' %>
  </div>
  <div class="fieldset">
    <%= f.label :activation %><br />
    <%= f.datetime_select :activation_date %>
  </div>
  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first, :placeholder => "First" %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last, :placeholder => "Last" %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :placeholder => "City" %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, :placeholder => "Country" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :placeholder => "test@test.com" %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :placeholder => "1 Awesome Street, California" %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance, :value => "0.0"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
