<!DOCTYPE html>
<html>
<head>
  <title>OplinkManagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <div class="dashboard">
  <%= link_to 'Home', "/home/index", :class => 'navbar-link' %> |
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Activate or Disable Service", "/home/activate_disable" %> |
  <%= link_to "View Customers", "/home/customers" %>
  </div><div class="status">
  You are Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
 </div>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="error"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
